<h1>Datefns adapter</h1>

<div>
  date: {{mydate}}
</div>
<div>
  time: {{mytime}}
</div>
<div>
  formattedDate: {{formattedDate }}
</div>
<div>
  tzformattedDate: {{tzformattedDate }}
</div>
<div>
  tzformattedTime: {{tzformattedTime }}
</div>
<div>
  tzformattedDate2 : {{tzformattedDate2 }}
</div>

<h1>calendar</h1>

<!-- <mat-calendar
  [(selected)]="selected"
  [dateFilter]="dateFilter"
  [minDate]="minDate"
  [startAt]="startAt"
  (selectedChange)="handleSelectedDate($event)"
></mat-calendar> -->
